@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;900&display=swap');

body
{
	color:#2c3e50;
	background: black;
	font-family: 'Inter', sans-serif;
	font-size: 6vh;
	font-weight: 400;
	text-align:center;
	text-transform: uppercase;
}
.streamCanvas
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #ecf0f1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	animation: fadeIn 1s 1s backwards;
}
.canvasText
{
	width: 100%;
	height: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.canvasVideo
{
	width: 100%;
	height: 75%;
	background: url("../img/jordan-mcgee-moqWSeBjLIc-unsplash.jpg");
	background-position: center center;
	background-size: cover;
}
.canvasVideo video
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.textBlock
{
	margin: 0 4vw;
}
.textLeft
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 0.5vw;
}
.textRight
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.textLogo
{
	width: 100%;
	margin-right: 2vw;
}
.textHeader
{
	font-size: 3vh;
	font-weight: 500;
	font-style: italic;

	animation: fadeInLeft 1s 1s backwards, fadeInLeft 1s 14s reverse forwards;
}
.textSubhead
{
	font-size: 2.5vh;
	font-weight: 600;

	animation: fadeInLeft 1s 1.25s backwards, fadeInLeft 1s 13.75s reverse forwards;
}
.fa-user
{
	color:#2980b9;
}
.fa-twitter 
{
	color:#2980b9;
}
.fa-instagram
{
	color: #8e44ad;
}
.fa-youtube
{
	color: #c0392b;
}

@keyframes fadeIn
{
	from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes fadeInLeft
{
	from
	{
		filter:opacity(0);
		transform: translateX(2vw);
	}
	to
	{
		filter:opacity(1);
	}
}